.w-fit-content {
    width: fit-content;
}

#login-form,
#register-form {
    width: 400px;
}

#edit-quiz-form {
    width: 600px;
}

input.form-control,
textarea.form-control,
select.form-control {
    font-size: 1.25rem;
}